@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

input,textarea {
  @apply bg-gray-600;
  @apply rounded-full;
  @apply px-2;
}

button {
  @apply rounded-full;
}

body {
  font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-700;
    @apply border-4;
    @apply border-solid;
    @apply border-black;
    @apply rounded-3xl;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500
  }

  .innerScrollbar::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }

  .innerScrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-700;
    @apply border-4;
    @apply border-solid;
    @apply border-gray-600;
    @apply rounded-3xl;
  }

  .innerScrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500
  }
}
